/* BlockchainIntegration.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.blockchain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  background: #E0FBFC; /* Background color for Blockchain section */
  color: #333;
  height: 100vh; /* Set height to take full viewport height */
}

.blockchain-content {
  max-width: 50%;
  transform: translateX(-100%); /* Initial position off-screen to the left */
  transition: transform 1s; /* Smooth transition */
}

.blockchain-content.slide-in-left {
  transform: translateX(0); /* Final position on-screen */
}

.blockchain h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blockchain p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.blockchain-image-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden; /* Ensures the image stays within bounds during animation */
}

.blockchain-image {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%); /* Initial position off-screen to the right */
  transition: transform 1s; /* Smooth transition */
}

.blockchain-image.slide-in-right {
  transform: translateX(0); /* Final position on-screen */
}
